{% include 'includes/head.html' %}
</head>
<body>
{% include 'includes/sidebar_petugas.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Alat Lab</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active">Data Alat</li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Data Alat Lab </h5>
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Level</th>
                                    <th scope="col">Nama Pengguna</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Jenis Kelamin</th>
                                </tr>
                                {% for baris in container %}
                                <tr>
                                    <th scope="col">{{ baris[0] }}</th>
                                    <th scope="col">{{ baris[1] }}</th>
                                    <th scope="col">{{ baris[2] }}</th>
                                    <th scope="col">{{ baris[3] }}</th>
                                    <th scope="col">{{ baris[4] }}</th>
                                </tr>
                                {% endfor %}
                            </table>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
</body>
</html>