{% include 'includes/head.html' %}
</head>
<body>
{% include 'includes/sidebar_petugas.html' %}
</body>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Ubah Data Peminjaman</h1>
    </div>
    <br>
    <section class="content">
    	<div class="container">
    		<div class="col-md-12">
    		<div class="card-body">
    			<form action="{{ url_for('update_prosess_peminjaman_dosen') }}" method = "post">
    				<div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_alat" class="form-label">Nama Alat: </label>
                            <select type="text" name="id_alat" class="form-control" id="id_alat" required>
                                <option value="---">---</option>
                                <option value="1">Gelas Ukur</option>
                                <option value="2">Corong</option>
                                <option value="3">Pipet</option
                                value="{{ data [1] }}">
                                </select>
                            </div>
                        <br>

    					<div class="form-group col-md-6">
    						<label for="jumlah" class="form-label">Jumlah: </label>
    						<input type="text" name="jumlah" class="form-control" id="jumlah" placeholder="Jumlah" size="30" maxlength="30" value="{{ data [3] }}">
    					</div>
    					<br>

                        <div class="form-group col-md-6">
                            <label for="tgl_peminjaman" class="form-label">Tanggal Peminjaman: </label>
                            <input type="date" name="tgl_peminjaman" class="form-control" id="tgl_peminjaman" placeholder="Tanggal Peminjaman" size="30" maxlength="30" value="{{ data [4] }}">
                        </div>
                        <br>

                        <div class="form-group col-md-6">
                            <label for="tgl_pengembalian" class="form-label">Tanggal Pengembalian: </label>
                            <input type="date" name="tgl_pengembalian" class="form-control" id="tgl_pengembalian" placeholder="Tanggal Pengembalian" size="30" maxlength="30" value="{{ data [5] }}">
                        </div>
                        <br>

                        <div class="form-group col-md-6">
                            <label for="keterangan" class="form-label">Keterangan: </label>
                            <input type="text" name="keterangan" class="form-control" id="keterangan" placeholder="Keterangan" size="30" maxlength="30" value="{{ data [6] }}">
                        </div>
                        <br>

                        <div class="form-group col-md-6">
                            <label for="status" class="form-label">Status: </label>
                            <select type="text" name="status" class="form-control" id="status" required>
                                <option value="---">---</option>
                                <option value="dikembalikan">Dikembalikan</option>
                                <option value="dipinjam">Dipinjam</option
                                value="{{ data [7] }}">
                                </select>
                            </div>
                        <br>
    					<input type="hidden" name="id_peminjaman" value="{{ data [0] }}" />
    					<p><input type="submit" value="simpan"></p><br />
    				</div>
    			</form>
    		</div>
    	</div>
    </div>
</section>
</main>
</html>